@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@media screen and (max-width: 768px) {


    * {
        margin: 0;
        padding: 0;
    }

    /* header */

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 42px;
        background-color: rgb(31, 26, 26)
    }

    nav {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        height: 40px;
        justify-content: space-between;
        width: 50%;
    }

    ul li {
        list-style: none;
    }

    li a {
        display: flex;
        color: white;
        font-family: 'Oswald', sans-serif;
        padding: 2px;
        font-size: x-large;
    }

    li a:hover {
        background-color: rgb(161, 155, 155)
    }

    /* main */

    .conteiner {
        flex-direction: column;
        height: auto;
    }

    /* aside */

    aside {
        order: -1;
        margin-top: 20px;
    }

    #image-aside {
        width: 100%;
        height: auto;
        margin-top: 0;
    }


    article {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100%;
    }

    .welcome h1,
    .welcome p {
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
    }

    .form {
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        padding-top: 40px;

    }

    input[type=text],
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: black;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40px;
        color: white;
        font-family: 'Oswald', sans-serif;
        background-color: rgb(31, 26, 26);
        text-align: center;
    }


    .gallery {
        width: 100%;
        margin-top: 20px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .gallery {
        width: 90%;
        height: 400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        margin-top: 50px;
    }

    .box-1 {
        background: url(../images/attack-king.jpg) no-repeat center/cover;
        grid-column: 2/3;
        grid-row: 2/3;
    }


    .box-2 {
        background: url(../images/bishop.jpg) no-repeat center/cover;
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .box:nth-child(3) {
        background: url(../images/departure.jpg) no-repeat center/cover;
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .box:nth-child(4) {
        background: url(../images/horse.jpg) no-repeat center/cover;
        grid-area: 2/4/4/5;
    }


    .box:nth-child(5) {
        background: url(../images/horses.jpg) no-repeat center/cover;
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .box:nth-child(6) {
        background: url(../images/move.jpg) no-repeat center/cover;
    }

    .box-7 {
        background: url(../images/pawn.jpg) no-repeat center/cover;
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .box-8 {
        background: url(../images/w-king.jpg) no-repeat center/cover;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
        background-color: rgb(31, 26, 26);
    }

    .bar {
        display: block;
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px auto;
        transition: 1s;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: block;
    }

}